<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detail Penjualan</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="detail-penjualan-body">
  <div class="layout-container">
    <%- include('layout/sidebar') %>

      <div class="main-content">
        <h1>Riwayat Penjualan</h1>

        <div class="section-header">
          <h2 class="section-title">Daftar Produk</h2>

          <div class="export-buttons">
            <a href="/penjualan/export/pdf" class="btn btn-export" target="_blank">
              <i class="fas fa-file-pdf"></i> Instal PDF
            </a>
          </div>
        </div>


        <table class="produk-table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Pelanggan</th>
              <th>Tanggal Order</th>
              <th>Total Biaya</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% penjualan.forEach((produk, index)=> { %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= produk.pelanggan %>
                </td>
                <td>
                  <%= produk.tanggal %>
                </td>
                <td>Rp<%= produk.total.toLocaleString('id-ID') %>
                </td>
                <td>
                  <a href="/penjualan/<%= produk.id %>" class="btn btn-detail">Detail</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>

      </div>
  </div>
</body>

</html>